.card-container {
  width: 40%;
  max-width: 400px;
  min-width: 300px;
  padding: 25px;
}

.card-image {
  width: 100%;
  height: auto;
  max-height: 340px;
  object-fit: cover;
}

.card-description {
  letter-spacing: 0.01px;
  line-height: 1;
}

@media only screen and (max-width: 1300px) {
  .card-container {
    width: 320px;
  }
}

@media only screen and (max-width: 800px) {
  .card-container {
    width: 100%;
  }
}
