.profile-container {
  width: 100%;
}

.profile-cover {
  position: relative;
  width: 320px;
  height: fit-content;
}
.profile-container-child {
  position: relative;
}

.profile-card {
  width: 320px;
  padding: 14px;
  display: flex;
  flex-direction: column;
}
.profile-card-image {
  min-width: 280px;
  width: 100%;
  height: 280px;
}

.card-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.md {
  height: 62px;
  width: 62px;
  border: 2px solid #715539;
}

.sm {
  height: 32px;
  width: 32px;
  /* border: 2px solid #715539; */
}

.ws-100 {
  width: 70%;
}
